__pycache__/
*.py[cod]
*.egg-info/
.eggs/
build/
.gradle/
dist/

.venv/
venv/

.pytest_cache/
.ruff_cache/
.coverage
coverage.xml
htmlcov/

infrastructure/.env
infrastructure/logs/
infrastructure/timings/
bot/.env
bot/infrastructure/.env
bot/infrastructure/logs/
bot/infrastructure/run/

node_modules/
frontend/.env.local
frontend/infrastructure/.env
frontend/infrastructure/logs/
frontend/infrastructure/run/

.DS_Store

.idea/
